<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.intium.intelliumeg" android:versionCode="1" android:versionName="0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Intellium_EG.Android" android:icon="@drawable/icon"></application>
</manifest>